#-----------------------------------------------------------------------------------#
#       Git
#-----------------------------------------------------------------------------------#
bigbang() {
  if [[ -z "$1" ]]; then
    echo "Errore: URL del repository obbligatorio. Uso: bigbang https://url-del-repository/"
    return 1
  fi

  git init
  git add . 
  git commit -m '💥 Big Bang'
  git remote add origin "$1" 
  git branch -M main
  git push -u origin main
}

#-----------------------------------------------------------------------------------#
#       Flutter
#-----------------------------------------------------------------------------------#

flutterCrashAndroid() {
    version=$(awk '/^version: /{print $2}' ./pubspec.yaml)
    if [ -z "$version" ]; then
        echo "Error: Version is blank."
        return 1
    fi

    androidAppId=$(grep mobilesdk_app_id ./android/app/google-services.json | tail -n1 | sed 's/.*\"mobilesdk_app_id\": \"\(.*\)\",/\1/')
    firebase crashlytics:symbols:upload --app="$androidAppId" debug-info/android/$version
}

#-----------------------------------------------------------------------------------#
#       MySQL and databases
#-----------------------------------------------------------------------------------#

mycreate() {
    if [ "$1" != "" ]
    then
        mysql -u root -e "create database $1"
    else
        print "Database name required, ex.: $0 <database>"
    fi
}

mylist() {
    mysql -u root -e "show databases"
}

mydrop() {
    if [ "$1" != "" ]
    then
        mysql -u root -e "drop database $1"
    else
        print "Database name required, ex.: $0 <database>"
    fi
}

#-----------------------------------------------------------------------------------#
#       Utils
#-----------------------------------------------------------------------------------#
mfdread() {
    xxd "$1" | awk 'NR%4==0 {print "\033[0;31m" $0 "\033[0m"; next} {print}'
}
