[user]
    name = Luca
	email = masterix21@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE6o+m+mRhkX5kZxRzcs/f75usMktoTAPygdvTaSjpe/

[gpg]
    format = ssh

[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
    gpgsign = true

[core]
    autocrlf = false
    pager = delta
    excludesfile = ~/.global-gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
    rebase = false

[fetch]
    prune = true

[init]
    defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
